openapi: 3.1.0
info:
  title: Fall of the Gods API
  description: API REST that provides all the information available about Fall of the Gods universe.
  version: 4.1.0
servers:
  - url: 'https://api.gycoding.com/fallofthegods'
    description: Production Server

# ====================================================================== #
# ====================================================================== #

paths:
  /characters/story/get:
    get:
      summary: Get Character from Story
      description: Retrieves a specific character from the whole universe of Fall of the Gods.
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/Lang'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '404':
          $ref: '../shared/errors.yml#/components/responses/ResourceNotFoundAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/DBErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

  /characters/game/get:
    get:
      summary: Get Character from Games
      description: Retrieves a specific character from the games of Fall of the Gods.
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/Lang'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '404':
          $ref: '../shared/errors.yml#/components/responses/ResourceNotFoundAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/DBErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

  /characters/story/list:
    get:
      summary: List Characters from Story
      description: Retrieves a non-paginated list of all the characters from the whole universe of Fall of the Gods.
      parameters:
        - $ref: '#/components/parameters/Lang'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '404':
          $ref: '../shared/errors.yml#/components/responses/ResourceNotFoundAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/DBErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

  /characters/game/list:
    get:
      summary: List Characters from Games
      description: Retrieves a non-paginated list of all the characters from the games of Fall of the Gods.
      parameters:
        - $ref: '#/components/parameters/Lang'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '404':
          $ref: '../shared/errors.yml#/components/responses/ResourceNotFoundAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/DBErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

  /characters/story/page:
    get:
      summary: Page Characters from Story
      description: Retrieves a paginated list of all the characters from the whole universe of Fall of the Gods.
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Lang'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '404':
          $ref: '../shared/errors.yml#/components/responses/ResourceNotFoundAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/DBErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

  /characters/game/page:
    get:
      summary: Page Characters from Games
      description: Retrieves a paginated list of all the characters from the games of Fall of the Gods.
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Lang'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '404':
          $ref: '../shared/errors.yml#/components/responses/ResourceNotFoundAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/DBErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

  /items/story/get:
    get:
      summary: Get Item from Story
      description: Retrieves a specific item from the whole universe of Fall of the Gods.
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/Lang'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '404':
          $ref: '../shared/errors.yml#/components/responses/ResourceNotFoundAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/DBErrorResponse'

  /items/game/get:
    get:
      summary: Get Item from Games
      description: Retrieves a specific item from the games of Fall of the Gods.
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/Lang'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '404':
          $ref: '../shared/errors.yml#/components/responses/ResourceNotFoundAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/DBErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

  /items/story/list:
    get:
      summary: List Items from Story
      description: Retrieves a non-paginated list of all the items from the whole universe of Fall of the Gods.
      parameters:
        - $ref: '#/components/parameters/Lang'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '404':
          $ref: '../shared/errors.yml#/components/responses/ResourceNotFoundAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/DBErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

  /items/game/list:
    get:
      summary: List Items from Games
      description: Retrieves a non-paginated list of all the items from the games of Fall of the Gods.
      parameters:
        - $ref: '#/components/parameters/Lang'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '404':
          $ref: '../shared/errors.yml#/components/responses/ResourceNotFoundAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/DBErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

  /items/story/page:
    get:
      summary: Page Items from Story
      description: Retrieves a paginated list of all the items from the whole universe of Fall of the Gods.
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Lang'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '404':
          $ref: '../shared/errors.yml#/components/responses/ResourceNotFoundAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/DBErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

  /items/game/page:
    get:
      summary: Page Items from Games
      description: Retrieves a paginated list of all the items from the games of Fall of the Gods.
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Lang'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '404':
          $ref: '../shared/errors.yml#/components/responses/ResourceNotFoundAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/DBErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

  /creatures/get:
    get:
      summary: Get Creature
      description: Retrieves a specific creature from the whole universe of Fall of the Gods.
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/Lang'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '404':
          $ref: '../shared/errors.yml#/components/responses/ResourceNotFoundAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/DBErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

  /creatures/list:
    get:
      summary: List Creatures
      description: Retrieves a non-paginated list of all the creatures from the whole universe of Fall of the Gods.
      parameters:
        - $ref: '#/components/parameters/Lang'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '404':
          $ref: '../shared/errors.yml#/components/responses/ResourceNotFoundAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/DBErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

  /creatures/page:
    get:
      summary: Page Creatures
      description: Retrieves a paginated list of all the creatures from the games of Fall of the Gods.
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Lang'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '404':
          $ref: '../shared/errors.yml#/components/responses/ResourceNotFoundAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/DBErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

  /worlds/get:
    get:
      summary: Get World
      description: Retrieves a specific world from the whole universe of Fall of the Gods.
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/Lang'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '404':
          $ref: '../shared/errors.yml#/components/responses/ResourceNotFoundAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/DBErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

  /worlds/places/get:
    get:
      summary: Get Place
      description: Retrieves a specific place from the whole universe of Fall of the Gods.
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/Lang'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '404':
          $ref: '../shared/errors.yml#/components/responses/ResourceNotFoundAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/DBErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

  /worlds/list:
    get:
      summary: List Worlds
      description: Retrieves a non-paginated list of all the worlds.
      parameters:
        - $ref: '#/components/parameters/Lang'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '404':
          $ref: '../shared/errors.yml#/components/responses/ResourceNotFoundAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/DBErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

  /worlds/places/listAll:
    get:
      summary: List Places
      description: Retrieves a non-paginated list of all the places.
      parameters:
        - $ref: '#/components/parameters/Lang'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '404':
          $ref: '../shared/errors.yml#/components/responses/ResourceNotFoundAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/DBErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

  /worlds/places/list:
    get:
      summary: List Places by World
      description: Retrieves a non-paginated list of all the places inside a specific world.
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/Lang'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '404':
          $ref: '../shared/errors.yml#/components/responses/ResourceNotFoundAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/DBErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

  /worlds/page:
    get:
      summary: Page Worlds
      description: Retrieves a paginated list of all the worlds.
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Lang'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '404':
          $ref: '../shared/errors.yml#/components/responses/ResourceNotFoundAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/DBErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

  /worlds/places/pageAll:
    get:
      summary: Page Places
      description: Retrieves a paginated list of all the places.
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Lang'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '404':
          $ref: '../shared/errors.yml#/components/responses/ResourceNotFoundAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/DBErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

  /worlds/places/page:
    get:
      summary: Page Places by World
      description: Retrieves a paginated list of all the places inside a specific world.
      parameters:
        - $ref: '#/components/parameters/Id'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Lang'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '404':
          $ref: '../shared/errors.yml#/components/responses/ResourceNotFoundAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/DBErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

# ====================================================================== #
# ====================================================================== #

components:
  parameters:
    Id:
      name: id
      in: query
      required: true
      schema:
        type: string
      description: Entity identifier.
    Page:
      name: page
      in: query
      required: true
      schema:
        type: number
      description: Number of page of a paginated list of entities.
    Size:
      name: size
      in: query
      required: true
      schema:
        type: number
      description: Amount of elements to show on one page.
    Lang:
      name: lang
      in: query
      required: false
      schema:
        type: string
        enum:
          - en
          - es
      description: The language of the chat.