openapi: 3.1.0
info:
  title: GY Accounts
  description: Official GYCODING account management API service.
  version: 3.2.0
servers:
  - url: 'https://api.gycoding.com/accounts'
    description: Production Server

# ====================================================================== #
# ====================================================================== #

paths:
  /auth/login:
    post:
      summary: Login
      description: Checks the existence and authentication of a user account using basic Email/Username and Password authentication and returns a JWT.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '401':
          $ref: '../shared/errors.yml#/components/responses/UnauthorizedAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/AuthErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

  /auth/signup:
    post:
      summary: Sign Up
      description: Registers a new user account using basic Email/Username and Password authentication.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignUpRequest'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '401':
          $ref: '../shared/errors.yml#/components/responses/UnauthorizedAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '409':
          $ref: '../shared/errors.yml#/components/responses/ConflictAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/AuthErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

  /auth/google:
    get:
      summary: Google Authentication
      description: Returns a custom GYCODING authentication URL for Google Authentication.
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '401':
          $ref: '../shared/errors.yml#/components/responses/UnauthorizedAPIErrorResponse'
        '403':
          $ref: '../shared/errors.yml#/components/responses/ForbiddenAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/AuthErrorResponse'

  /user/profile:
    get:
      summary: Get User Profile
      description: Retrieves user profile.
      parameters:
        - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '401':
          $ref: '../shared/errors.yml#/components/responses/UnauthorizedAPIErrorResponse'
        '403':
          $ref: '../shared/errors.yml#/components/responses/ForbiddenAPIErrorResponse'
        '404':
          oneOf:
          - $ref: '../shared/errors.yml#/components/responses/ResourceNotFoundAPIErrorResponse'
          - $ref: '../shared/errors.yml#/components/responses/TokenNotFoundAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/AuthErrorResponse'
      x-roles:
        - COMMON
        - ADMIN
    put:
      summary: Update User Profile
      description: Modifies user profile.
      parameters:
        - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '401':
          $ref: '../shared/errors.yml#/components/responses/UnauthorizedAPIErrorResponse'
        '403':
          $ref: '../shared/errors.yml#/components/responses/ForbiddenAPIErrorResponse'
        '404':
          oneOf:
          - $ref: '../shared/errors.yml#/components/responses/ResourceNotFoundAPIErrorResponse'
          - $ref: '../shared/errors.yml#/components/responses/TokenNotFoundAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/AuthErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

  /user/username:
    get:
      summary: Retrieve User Username
      description: Retrieves user username.
      parameters:
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        content:
          text/plain:
            schema:
              type: string
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '401':
          $ref: '../shared/errors.yml#/components/responses/UnauthorizedAPIErrorResponse'
        '403':
          $ref: '../shared/errors.yml#/components/responses/ForbiddenAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '409':
          $ref: '../shared/errors.yml#/components/responses/ConflictAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/AuthErrorResponse'
      x-roles:
        - COMMON
        - ADMIN
    patch:
      summary: Update User Username
      description: Modifies user username.
      parameters:
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        content:
          text/plain:
            schema:
              type: string
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '401':
          $ref: '../shared/errors.yml#/components/responses/UnauthorizedAPIErrorResponse'
        '403':
          $ref: '../shared/errors.yml#/components/responses/ForbiddenAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '409':
          $ref: '../shared/errors.yml#/components/responses/ConflictAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/AuthErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

  /user/email:
    get:
      summary: Retrieve User Email
      description: Retrieves user email.
      parameters:
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        content:
          text/plain:
            schema:
              type: string
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '401':
          $ref: '../shared/errors.yml#/components/responses/UnauthorizedAPIErrorResponse'
        '403':
          $ref: '../shared/errors.yml#/components/responses/ForbiddenAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '409':
          $ref: '../shared/errors.yml#/components/responses/ConflictAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/AuthErrorResponse'
      x-roles:
        - COMMON
        - ADMIN
    patch:
      summary: Update User Email
      description: Modifies user email.
      parameters:
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        content:
          text/plain:
            schema:
              type: string
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '401':
          $ref: '../shared/errors.yml#/components/responses/UnauthorizedAPIErrorResponse'
        '403':
          $ref: '../shared/errors.yml#/components/responses/ForbiddenAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '409':
          $ref: '../shared/errors.yml#/components/responses/ConflictAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/AuthErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

  /user/phonenumber:
    get:
      summary: Retrieve User Phone Number
      description: Retrieves user phone number.
      parameters:
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        content:
          text/plain:
            schema:
              type: string
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '401':
          $ref: '../shared/errors.yml#/components/responses/UnauthorizedAPIErrorResponse'
        '403':
          $ref: '../shared/errors.yml#/components/responses/ForbiddenAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '409':
          $ref: '../shared/errors.yml#/components/responses/ConflictAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/AuthErrorResponse'
      x-roles:
        - COMMON
        - ADMIN
    patch:
      summary: Update User Phone Number
      description: Modifies user phone number.
      parameters:
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        content:
          text/plain:
            schema:
              type: string
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '401':
          $ref: '../shared/errors.yml#/components/responses/UnauthorizedAPIErrorResponse'
        '403':
          $ref: '../shared/errors.yml#/components/responses/ForbiddenAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '409':
          $ref: '../shared/errors.yml#/components/responses/ConflictAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/AuthErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

  /user/picture/{user-id}:
    get:
      summary: Retrieve User Picture
      description: Retrieves user picture.
      parameters:
        - $ref: '#/components/parameters/UserID'
      requestBody:
        content:
          text/plain:
            schema:
              type: string
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '401':
          $ref: '../shared/errors.yml#/components/responses/UnauthorizedAPIErrorResponse'
        '403':
          $ref: '../shared/errors.yml#/components/responses/ForbiddenAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '409':
          $ref: '../shared/errors.yml#/components/responses/ConflictAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/AuthErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

  /user/picture:
    patch:
      summary: Update User Picture
      description: Modifies user picture.
      parameters:
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        content:
          text/plain:
            schema:
              type: string
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '401':
          $ref: '../shared/errors.yml#/components/responses/UnauthorizedAPIErrorResponse'
        '403':
          $ref: '../shared/errors.yml#/components/responses/ForbiddenAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '409':
          $ref: '../shared/errors.yml#/components/responses/ConflictAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/AuthErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

  /user/password:
    patch:
      summary: Update User Password
      description: Modifies user password.
      parameters:
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        content:
          text/plain:
            schema:
              type: string
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '401':
          $ref: '../shared/errors.yml#/components/responses/UnauthorizedAPIErrorResponse'
        '403':
          $ref: '../shared/errors.yml#/components/responses/ForbiddenAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '409':
          $ref: '../shared/errors.yml#/components/responses/ConflictAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/AuthErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

  /user/metadata:
    get:
      summary: Retrieve User Metadata
      description: Retrieves user metadata.
      parameters:
        - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '401':
          $ref: '../shared/errors.yml#/components/responses/UnauthorizedAPIErrorResponse'
        '403':
          $ref: '../shared/errors.yml#/components/responses/ForbiddenAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '409':
          $ref: '../shared/errors.yml#/components/responses/ConflictAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/AuthErrorResponse'
      x-roles:
        - COMMON
        - ADMIN
    put:
      summary: Set User Metadata
      description: Sets user metadata.
      parameters:
        - $ref: '#/components/parameters/UserID'
      requestBody:
        content:
          application/json:
            # TODO: Add metadata schema.
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '401':
          $ref: '../shared/errors.yml#/components/responses/UnauthorizedAPIErrorResponse'
        '403':
          $ref: '../shared/errors.yml#/components/responses/ForbiddenAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '409':
          $ref: '../shared/errors.yml#/components/responses/ConflictAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/AuthErrorResponse'
      x-roles:
        - COMMON
        - ADMIN
    patch:
      summary: Update User Metadata
      description: Modifies user metadata.
      parameters:
        - $ref: '#/components/parameters/UserID'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '401':
          $ref: '../shared/errors.yml#/components/responses/UnauthorizedAPIErrorResponse'
        '403':
          $ref: '../shared/errors.yml#/components/responses/ForbiddenAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '409':
          $ref: '../shared/errors.yml#/components/responses/ConflictAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/AuthErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

  /messages/chats/add:
    put:
      summary: Add chat to metadata
      description: Adds a new chat to user metadata.
      parameters:
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatMetadata'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '401':
          $ref: '../shared/errors.yml#/components/responses/UnauthorizedAPIErrorResponse'
        '403':
          $ref: '../shared/errors.yml#/components/responses/ForbiddenAPIErrorResponse'
        '404':
          oneOf:
          - $ref: '../shared/errors.yml#/components/responses/ResourceNotFoundAPIErrorResponse'
          - $ref: '../shared/errors.yml#/components/responses/TokenNotFoundAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '409':
          $ref: '../shared/errors.yml#/components/responses/ConflictAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/AuthErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

  /messages/chats/admin:
    put:
      summary: Set chat to user metadata
      description: Modifies an existing chat to user metadata.
      parameters:
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatMetadata'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '401':
          $ref: '../shared/errors.yml#/components/responses/UnauthorizedAPIErrorResponse'
        '403':
          $ref: '../shared/errors.yml#/components/responses/ForbiddenAPIErrorResponse'
        '404':
          oneOf:
          - $ref: '../shared/errors.yml#/components/responses/ResourceNotFoundAPIErrorResponse'
          - $ref: '../shared/errors.yml#/components/responses/TokenNotFoundAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '409':
          $ref: '../shared/errors.yml#/components/responses/ConflictAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/AuthErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

  /messages/chats:
    get:
      summary: List user chats from metadata
      description: List user chats from metadata.
      parameters:
        - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '401':
          $ref: '../shared/errors.yml#/components/responses/UnauthorizedAPIErrorResponse'
        '403':
          $ref: '../shared/errors.yml#/components/responses/ForbiddenAPIErrorResponse'
        '404':
          oneOf:
          - $ref: '../shared/errors.yml#/components/responses/ResourceNotFoundAPIErrorResponse'
          - $ref: '../shared/errors.yml#/components/responses/TokenNotFoundAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '409':
          $ref: '../shared/errors.yml#/components/responses/ConflictAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/AuthErrorResponse'
      x-roles:
        - COMMON
        - ADMIN
    delete:
      summary: Remove chat from metadata
      description: Removes existing chats from user metadata.
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/ChatID'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '401':
          $ref: '../shared/errors.yml#/components/responses/UnauthorizedAPIErrorResponse'
        '403':
          $ref: '../shared/errors.yml#/components/responses/ForbiddenAPIErrorResponse'
        '404':
          oneOf:
          - $ref: '../shared/errors.yml#/components/responses/ResourceNotFoundAPIErrorResponse'
          - $ref: '../shared/errors.yml#/components/responses/TokenNotFoundAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '409':
          $ref: '../shared/errors.yml#/components/responses/ConflictAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/AuthErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

  /client/metadata:
    get:
      summary: Get user client metadata
      description: Get user client metadata.
      parameters:
        - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '401':
          $ref: '../shared/errors.yml#/components/responses/UnauthorizedAPIErrorResponse'
        '403':
          $ref: '../shared/errors.yml#/components/responses/ForbiddenAPIErrorResponse'
        '404':
          oneOf:
          - $ref: '../shared/errors.yml#/components/responses/ResourceNotFoundAPIErrorResponse'
          - $ref: '../shared/errors.yml#/components/responses/TokenNotFoundAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '409':
          $ref: '../shared/errors.yml#/components/responses/ConflictAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/AuthErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

# ====================================================================== #
# ====================================================================== #

components:
  parameters:
    Authorization:
      name: Authorization
      in: header
      required: true
      schema:
        type: string
      description: Authentication token.
      example: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c'
    UserID:
      name: user-id
      in: path
      required: true
      schema:
        type: string
      description: User ID provided by the authorization service for each specific user.
    ChatID:
      name: chat-id
      in: query
      required: true
      schema:
        type: string
      description: Chat ID.

  schemas:
    ChatMetadata:
      type: object
      properties:
        chatId:
          type: string
          description: The chat ID.
        admin:
          type: boolean
          description: Whether the user is an admin.
    ChatMetadataForRemoval:
      type: object
      properties:
        chatId:
          type: string
          description: The chat ID.
    LoginRequest:
      type: object
      properties:
        email:
          type: string
        password:
          type: string
    SignUpRequest:
      type: object
      properties:
        user:
          type: object
          properties:
            email:
              type: string
            password:
              type: string
