openapi: 3.1.0
info:
  title: GY Messages
  description: Official GYCODING messaging API service.
  version: 1.1.1
servers:
  - url: 'https://api.gycoding.com/messages'
    description: Production Server

# ====================================================================== #
# ====================================================================== #

paths:
  /messages/{chat-id}/messages/list:
    get:
      summary: List messages
      description: Retrieves the whole list of messages from a specific chat.
      parameters:
        - $ref: '#/components/parameters/ChatId'
        - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '401':
          $ref: '../shared/errors.yml#/components/responses/UnauthorizedAPIErrorResponse'
        '403':
          $ref: '../shared/errors.yml#/components/responses/ForbiddenAPIErrorResponse'
        '404':
          oneOf:
          - $ref: '../shared/errors.yml#/components/responses/ResourceNotFoundAPIErrorResponse'
          - $ref: '../shared/errors.yml#/components/responses/TokenNotFoundAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '409':
          $ref: '../shared/errors.yml#/components/responses/ConflictAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/AuthErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

  /messages/{chat-id}/delete:
    delete:
      summary: Delete chat
      description: Removes a chat completely, unassigning it from every user.
      parameters:
        - $ref: '#/components/parameters/ChatId'
        - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '401':
          $ref: '../shared/errors.yml#/components/responses/UnauthorizedAPIErrorResponse'
        '403':
          $ref: '../shared/errors.yml#/components/responses/ForbiddenAPIErrorResponse'
        '404':
          oneOf:
          - $ref: '../shared/errors.yml#/components/responses/ResourceNotFoundAPIErrorResponse'
          - $ref: '../shared/errors.yml#/components/responses/TokenNotFoundAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '409':
          $ref: '../shared/errors.yml#/components/responses/ConflictAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/AuthErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

  /messages/{chat-id}/leave:
    delete:
      summary: Leave chat
      description: As a user, leaves a chat.
      parameters:
        - $ref: '#/components/parameters/ChatId'
        - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '401':
          $ref: '../shared/errors.yml#/components/responses/UnauthorizedAPIErrorResponse'
        '403':
          $ref: '../shared/errors.yml#/components/responses/ForbiddenAPIErrorResponse'
        '404':
          oneOf:
          - $ref: '../shared/errors.yml#/components/responses/ResourceNotFoundAPIErrorResponse'
          - $ref: '../shared/errors.yml#/components/responses/TokenNotFoundAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '409':
          $ref: '../shared/errors.yml#/components/responses/ConflictAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/AuthErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

  /messages/{chat-id}/send:
    post:
      summary: Send message
      description: Sends a message to a specific chat.
      parameters:
        - $ref: '#/components/parameters/ChatId'
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMessageRequest'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '401':
          $ref: '../shared/errors.yml#/components/responses/UnauthorizedAPIErrorResponse'
        '403':
          $ref: '../shared/errors.yml#/components/responses/ForbiddenAPIErrorResponse'
        '404':
          oneOf:
          - $ref: '../shared/errors.yml#/components/responses/ResourceNotFoundAPIErrorResponse'
          - $ref: '../shared/errors.yml#/components/responses/TokenNotFoundAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '409':
          $ref: '../shared/errors.yml#/components/responses/ConflictAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/AuthErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

  /messages/create:
    post:
      summary: Create chat
      description: Creates a new chat.
      parameters:
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChatRequest'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '401':
          $ref: '../shared/errors.yml#/components/responses/UnauthorizedAPIErrorResponse'
        '403':
          $ref: '../shared/errors.yml#/components/responses/ForbiddenAPIErrorResponse'
        '404':
          oneOf:
          - $ref: '../shared/errors.yml#/components/responses/ResourceNotFoundAPIErrorResponse'
          - $ref: '../shared/errors.yml#/components/responses/TokenNotFoundAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '409':
          $ref: '../shared/errors.yml#/components/responses/ConflictAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/AuthErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

  /messages/{chat-id}/members/add:
    post:
      summary: Add a member
      description: As a user, add myself into a chat.
      parameters:
        - $ref: '#/components/parameters/ChatId'
        - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '401':
          $ref: '../shared/errors.yml#/components/responses/UnauthorizedAPIErrorResponse'
        '403':
          $ref: '../shared/errors.yml#/components/responses/ForbiddenAPIErrorResponse'
        '404':
          oneOf:
          - $ref: '../shared/errors.yml#/components/responses/ResourceNotFoundAPIErrorResponse'
          - $ref: '../shared/errors.yml#/components/responses/TokenNotFoundAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '409':
          $ref: '../shared/errors.yml#/components/responses/ConflictAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/AuthErrorResponse'

  /messages/chats/list:
    get:
      summary: List chats
      description: Retrieves the whole list of chat from where the user belongs.
      parameters:
        - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '401':
          $ref: '../shared/errors.yml#/components/responses/UnauthorizedAPIErrorResponse'
        '403':
          $ref: '../shared/errors.yml#/components/responses/ForbiddenAPIErrorResponse'
        '404':
          oneOf:
          - $ref: '../shared/errors.yml#/components/responses/ResourceNotFoundAPIErrorResponse'
          - $ref: '../shared/errors.yml#/components/responses/TokenNotFoundAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '409':
          $ref: '../shared/errors.yml#/components/responses/ConflictAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/DBErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/AuthErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

  /messages/{chat-id}/members/list:
    get:
      summary: List members
      description: Retrieves the whole list of members from a specific chat.
      parameters:
        - $ref: '#/components/parameters/ChatId'
        - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          $ref: '../shared/responses.yml#/components/responses/OKResponse'
        '400':
          $ref: '../shared/errors.yml#/components/responses/BadRequestAPIErrorResponse'
        '401':
          $ref: '../shared/errors.yml#/components/responses/UnauthorizedAPIErrorResponse'
        '403':
          $ref: '../shared/errors.yml#/components/responses/ForbiddenAPIErrorResponse'
        '404':
          oneOf:
          - $ref: '../shared/errors.yml#/components/responses/ResourceNotFoundAPIErrorResponse'
          - $ref: '../shared/errors.yml#/components/responses/TokenNotFoundAPIErrorResponse'
        '405':
          $ref: '../shared/errors.yml#/components/responses/MethodNotAllowedAPIErrorResponse'
        '409':
          $ref: '../shared/errors.yml#/components/responses/ConflictAPIErrorResponse'
        '500':
          oneOf:
            - $ref: '../shared/errors.yml#/components/responses/ServerErrorResponse'
            - $ref: '../shared/errors.yml#/components/responses/AuthErrorResponse'
      x-roles:
        - COMMON
        - ADMIN

# ====================================================================== #
# ====================================================================== #

components:
  parameters:
    Authorization:
      name: Authorization
      in: header
      required: true
      schema:
        type: string
      description: Authentication token.
      example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
    ChatId:
      name: chat-id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: The ID of the chat.
      example: 32f2a4c2-5496-4055-a1b4-2ad508974d0e

  schemas:
    SendMessageRequest:
      type: object
      properties:
        message:
          type: string
          description: The content of the message.
    CreateChatRequest:
      type: object
      properties:
        name:
          type: string
          description: The name of the chat.