openapi: 3.1.0
info:
  title: GY Books
  description: GY Books is al book-rating and book social media app.
  version: 1.0.0
tags:
  - name: Books
paths:
  /{id}/public:
    get:
      summary: Get Book (Public)
      deprecated: false
      description: Retrieves a book.
      tags:
        - Books
      parameters:
        - name: id
          in: path
          description: Book ID.
          required: true
          example: '382700'
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Book'
          headers: {}
      security: []
      x-roles:
        - COMMON
        - ADMIN
  /{id}:
    get:
      summary: Get Book
      deprecated: false
      description: Retrieves a book.
      tags:
        - Books
      parameters:
        - name: id
          in: path
          description: Book ID.
          required: true
          example: '382700'
          schema:
            type: string
        - name: Authorization
          in: header
          description: Authorization token.
          example: B4gGzs6UFDEg5yihhjxM9yHDav93LEeqkeo7egJLcxE
          schema:
            type: string
            default: B4gGzs6UFDEg5yihhjxM9yHDav93LEeqkeo7egJLcxE
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Book'
          headers: {}
      security: []
      x-roles:
        - COMMON
        - ADMIN
    patch:
      summary: Save Book
      deprecated: false
      description: Updates an existing Book.
      tags:
        - Books
      parameters:
        - name: id
          in: path
          description: Book ID.
          required: true
          example: '382700'
          schema:
            type: string
        - name: Authorization
          in: header
          description: Authorization token.
          example: B4gGzs6UFDEg5yihhjxM9yHDav93LEeqkeo7egJLcxE
          schema:
            type: string
            default: B4gGzs6UFDEg5yihhjxM9yHDav93LEeqkeo7egJLcxE
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Book'
            examples: {}
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Book'
          headers: {}
      security: []
      x-roles:
        - COMMON
        - ADMIN
    delete:
      summary: Delete Book
      deprecated: false
      description: Removes an existing Book rating.
      tags:
        - Books
      parameters:
        - name: id
          in: path
          description: Book ID.
          required: true
          example: '382700'
          schema:
            type: string
        - name: Authorization
          in: header
          description: Authorization token.
          example: B4gGzs6UFDEg5yihhjxM9yHDav93LEeqkeo7egJLcxE
          schema:
            type: string
            default: B4gGzs6UFDEg5yihhjxM9yHDav93LEeqkeo7egJLcxE
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Book'
          headers: {}
      security: []
      x-roles:
        - COMMON
        - ADMIN
  /{profileId}/list:
    get:
      summary: List Books by User
      deprecated: false
      description: >-
        Lists all books marked by the user, aside from the state marked. This
        resource is paginated.
      tags:
        - Books
      parameters:
        - name: profileId
          in: path
          description: Profile ID.
          required: true
          example: 93dcc507-c706-4ed9-841f-fe470bdbb7d6
          schema:
            type: string
            format: uuid
        - name: page
          in: query
          description: Page of the list.
          required: true
          example: 1
          schema:
            type: number
        - name: size
          in: query
          description: Page size.
          required: true
          example: 10
          schema:
            type: number
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Book'
          headers: {}
      security: []
      x-roles:
        - COMMON
        - ADMIN
webhooks: {}
components:
  schemas:
    Book:
      type: object
      properties:
        id:
          type: string
          description: Book ID.
        averageRating:
          type: number
          description: Book Avergate Rating.
        userData:
          description: Book read status.
          $ref: '#/components/schemas/Book%20User%20Data'
      required:
        - id
        - averageRating
    Book User Data:
      type: object
      properties:
        userId:
          type: string
        status:
          type: string
          enum:
            - WANT_TO_READ
            - READING
            - READ
        rating:
          type: number
          maximum: 5
          minimum: 0
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
      required:
        - status
        - rating
        - startDate
        - endDate
        - userId
  securitySchemes: {}
servers:
  - url: https://api.gycoding.com/books
    description: Production
security: []
