openapi: 3.1.0
info:
  title: GY Books
  description: GY Books is al book-rating and book social media app.
  version: 1.0.0
tags:
  - name: Books
paths:
  /{id}/public:
    get:
      summary: Get Book (Public)
      deprecated: false
      description: Retrieves a book.
      tags:
        - Books
        - Books
      parameters:
        - name: id
          in: path
          description: Book ID.
          required: true
          example: '382700'
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema: &ref_0
                $ref: '#/components/schemas/Book'
          headers: {}
      security: []
      x-roles:
        - COMMON
        - ADMIN
  /{id}:
    get:
      summary: Get Book
      deprecated: false
      description: Retrieves a book.
      tags:
        - Books
        - Books
      parameters:
        - name: id
          in: path
          description: Book ID.
          required: true
          example: '382700'
          schema:
            type: string
        - name: Authorization
          in: header
          description: Authorization token.
          example: >-
            eyJhbGciOiJkaXIiLCJlbmMiOiJBMjU2R0NNIiwiaXNzIjoiaHR0cHM6Ly9neWNvZGluZy5ldS5hdXRoMC5jb20vIn0..cGATxjlGSXP08LPq.HAXheZlEA_ti_1My5ckNynUeRircb4RAfF9EAuR97z9Xnr5pr8S4fVLb94e4_jHdjWXNzUPi2M9-m_suqgh4MbPq0wulFQjEOiQ8f-aeVi8MGyM3CKnNTbMBuxQIXnhZICY0zlg6q97j65BdMLWYf3_6reFmbn2dDho8HAjTrLbndySJUvzRmxQrypKsQF1tUIxcYcLLRjT_MbXBDVLxvZ-9wJ4kJv_goXgpCIiiJZSxy53xJ0d_f5EwxeqdPiHW3P3DRmwq3pbTFR2b4tQulKLr7vEKONvfUoS_Sc5GWXTdiecfkU5eJRDLETr5kdi0Z4onmYOI5JD_4OTAqH-3wPgJaHJuhIa09A.aLtbCGpqXOZHHqKxKqC-uA
          schema:
            type: string
            default: >-
              eyJhbGciOiJkaXIiLCJlbmMiOiJBMjU2R0NNIiwiaXNzIjoiaHR0cHM6Ly9neWNvZGluZy5ldS5hdXRoMC5jb20vIn0..cGATxjlGSXP08LPq.HAXheZlEA_ti_1My5ckNynUeRircb4RAfF9EAuR97z9Xnr5pr8S4fVLb94e4_jHdjWXNzUPi2M9-m_suqgh4MbPq0wulFQjEOiQ8f-aeVi8MGyM3CKnNTbMBuxQIXnhZICY0zlg6q97j65BdMLWYf3_6reFmbn2dDho8HAjTrLbndySJUvzRmxQrypKsQF1tUIxcYcLLRjT_MbXBDVLxvZ-9wJ4kJv_goXgpCIiiJZSxy53xJ0d_f5EwxeqdPiHW3P3DRmwq3pbTFR2b4tQulKLr7vEKONvfUoS_Sc5GWXTdiecfkU5eJRDLETr5kdi0Z4onmYOI5JD_4OTAqH-3wPgJaHJuhIa09A.aLtbCGpqXOZHHqKxKqC-uA
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema: *ref_0
          headers: {}
      security: []
      x-roles:
        - COMMON
        - ADMIN
    patch:
      summary: Save Book
      deprecated: false
      description: Updates an existing Book.
      tags:
        - Books
        - Books
      parameters:
        - name: id
          in: path
          description: Book ID.
          required: true
          example: '382700'
          schema:
            type: string
        - name: Authorization
          in: header
          description: Authorization token.
          example: >-
            eyJhbGciOiJkaXIiLCJlbmMiOiJBMjU2R0NNIiwiaXNzIjoiaHR0cHM6Ly9neWNvZGluZy5ldS5hdXRoMC5jb20vIn0..cGATxjlGSXP08LPq.HAXheZlEA_ti_1My5ckNynUeRircb4RAfF9EAuR97z9Xnr5pr8S4fVLb94e4_jHdjWXNzUPi2M9-m_suqgh4MbPq0wulFQjEOiQ8f-aeVi8MGyM3CKnNTbMBuxQIXnhZICY0zlg6q97j65BdMLWYf3_6reFmbn2dDho8HAjTrLbndySJUvzRmxQrypKsQF1tUIxcYcLLRjT_MbXBDVLxvZ-9wJ4kJv_goXgpCIiiJZSxy53xJ0d_f5EwxeqdPiHW3P3DRmwq3pbTFR2b4tQulKLr7vEKONvfUoS_Sc5GWXTdiecfkU5eJRDLETr5kdi0Z4onmYOI5JD_4OTAqH-3wPgJaHJuhIa09A.aLtbCGpqXOZHHqKxKqC-uA
          schema:
            type: string
            default: >-
              eyJhbGciOiJkaXIiLCJlbmMiOiJBMjU2R0NNIiwiaXNzIjoiaHR0cHM6Ly9neWNvZGluZy5ldS5hdXRoMC5jb20vIn0..cGATxjlGSXP08LPq.HAXheZlEA_ti_1My5ckNynUeRircb4RAfF9EAuR97z9Xnr5pr8S4fVLb94e4_jHdjWXNzUPi2M9-m_suqgh4MbPq0wulFQjEOiQ8f-aeVi8MGyM3CKnNTbMBuxQIXnhZICY0zlg6q97j65BdMLWYf3_6reFmbn2dDho8HAjTrLbndySJUvzRmxQrypKsQF1tUIxcYcLLRjT_MbXBDVLxvZ-9wJ4kJv_goXgpCIiiJZSxy53xJ0d_f5EwxeqdPiHW3P3DRmwq3pbTFR2b4tQulKLr7vEKONvfUoS_Sc5GWXTdiecfkU5eJRDLETr5kdi0Z4onmYOI5JD_4OTAqH-3wPgJaHJuhIa09A.aLtbCGpqXOZHHqKxKqC-uA
      requestBody:
        content:
          application/json:
            schema: *ref_0
            examples: {}
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema: *ref_0
          headers: {}
      security: []
      x-roles:
        - COMMON
        - ADMIN
  /:
    get:
      summary: List Books by User
      deprecated: false
      description: >-
        Lists all books marked by the user, aside from the state marked. This
        resource is paginated.
      tags:
        - Books
        - Books
      parameters:
        - name: page
          in: query
          description: Page of the list.
          required: true
          example: 1
          schema:
            type: number
        - name: size
          in: query
          description: Page size.
          required: true
          example: 10
          schema:
            type: number
        - name: Authorization
          in: header
          description: Authorization token.
          example: >-
            eyJhbGciOiJkaXIiLCJlbmMiOiJBMjU2R0NNIiwiaXNzIjoiaHR0cHM6Ly9neWNvZGluZy5ldS5hdXRoMC5jb20vIn0..cGATxjlGSXP08LPq.HAXheZlEA_ti_1My5ckNynUeRircb4RAfF9EAuR97z9Xnr5pr8S4fVLb94e4_jHdjWXNzUPi2M9-m_suqgh4MbPq0wulFQjEOiQ8f-aeVi8MGyM3CKnNTbMBuxQIXnhZICY0zlg6q97j65BdMLWYf3_6reFmbn2dDho8HAjTrLbndySJUvzRmxQrypKsQF1tUIxcYcLLRjT_MbXBDVLxvZ-9wJ4kJv_goXgpCIiiJZSxy53xJ0d_f5EwxeqdPiHW3P3DRmwq3pbTFR2b4tQulKLr7vEKONvfUoS_Sc5GWXTdiecfkU5eJRDLETr5kdi0Z4onmYOI5JD_4OTAqH-3wPgJaHJuhIa09A.aLtbCGpqXOZHHqKxKqC-uA
          schema:
            type: string
            default: >-
              eyJhbGciOiJkaXIiLCJlbmMiOiJBMjU2R0NNIiwiaXNzIjoiaHR0cHM6Ly9neWNvZGluZy5ldS5hdXRoMC5jb20vIn0..cGATxjlGSXP08LPq.HAXheZlEA_ti_1My5ckNynUeRircb4RAfF9EAuR97z9Xnr5pr8S4fVLb94e4_jHdjWXNzUPi2M9-m_suqgh4MbPq0wulFQjEOiQ8f-aeVi8MGyM3CKnNTbMBuxQIXnhZICY0zlg6q97j65BdMLWYf3_6reFmbn2dDho8HAjTrLbndySJUvzRmxQrypKsQF1tUIxcYcLLRjT_MbXBDVLxvZ-9wJ4kJv_goXgpCIiiJZSxy53xJ0d_f5EwxeqdPiHW3P3DRmwq3pbTFR2b4tQulKLr7vEKONvfUoS_Sc5GWXTdiecfkU5eJRDLETr5kdi0Z4onmYOI5JD_4OTAqH-3wPgJaHJuhIa09A.aLtbCGpqXOZHHqKxKqC-uA
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items: *ref_0
          headers: {}
      security: []
      x-roles:
        - COMMON
        - ADMIN
components:
  schemas:
    Book:
      type: object
      properties:
        id:
          type: string
          description: Book ID.
        averageRating:
          type: number
          description: Book Avergate Rating.
        userData:
          description: Book read status.
          $ref: '#/components/schemas/Book%20User%20Data'
      required:
        - id
        - averageRating
    Book User Data:
      type: object
      properties:
        userId:
          type: string
        status:
          type: string
          enum:
            - WANT_TO_READ
            - READING
            - READ
        rating:
          type: number
          maximum: 5
          minimum: 0
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
      required:
        - status
        - rating
        - startDate
        - endDate
        - userId
  securitySchemes: {}
servers:
  - url: https://api.gycoding.com/books
    description: Production
security: []
